n8n/workflows/isq-agent-form-upload.json
{
  "id": "isqAgentFormUpload01",
  "name": "ISQ Agent: form upload",
  "nodes": [
    {
      "parameters": {
        "formTitle": "ISQ Agent: upload a questionnaire",
        "formDescription": "Upload a blank ISQ (PDF, DOCX or XLSX). The agent answers each question from Northstar Labs' policies and returns the completed documents.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Questionnaire",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.docx,.xlsx",
              "requiredField": true
            }
          ]
        },
        "options": {
          "path": "isq-upload"
        }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [-220, 200],
      "webhookId": "b2222222-2222-4222-8222-222222222222"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rag-service:8000/runs",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "Questionnaire"
            },
            {
              "name": "origin",
              "value": "n8n form upload"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "POST /runs (answer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [20, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rag-service:8000/render",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "docx"
            },
            {
              "name": "envelope",
              "value": "={{ JSON.stringify($('POST /runs (answer)').item.json) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "docx"
            }
          }
        }
      },
      "id": "d4444444-4444-4444-8444-444444444444",
      "name": "Render DOCX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rag-service:8000/render",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "xlsx"
            },
            {
              "name": "envelope",
              "value": "={{ JSON.stringify($('POST /runs (answer)').item.json) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "xlsx"
            }
          }
        }
      },
      "id": "e5555555-5555-4555-8555-555555555555",
      "name": "Render XLSX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rag-service:8000/render",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "envelope",
              "value": "={{ JSON.stringify($('POST /runs (answer)').item.json) }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "json"
            }
          }
        }
      },
      "id": "f6666666-6666-4666-8666-666666666666",
      "name": "Render JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Collect the three rendered files (each render node wrote its own binary property)\n// onto a single item so the next node can zip / return them together.\nreturn {\n  json: $('POST /runs (answer)').item.json.questionnaire_meta,\n  binary: {\n    docx: $('Render DOCX').item.binary.docx,\n    xlsx: $('Render XLSX').item.binary.xlsx,\n    json: $('Render JSON').item.binary.json\n  }\n};"
      },
      "id": "a7777777-7777-4777-8777-777777777777",
      "name": "Combine files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 200]
    },
    {
      "parameters": {
        "operation": "compress",
        "binaryPropertyName": "docx,xlsx,json",
        "outputFormat": "zip",
        "fileName": "isq-deliverables.zip",
        "binaryPropertyOutput": "data"
      },
      "id": "b8888888-8888-4888-8888-888888888888",
      "name": "Zip deliverables",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [1220, 200]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary",
        "inputDataFieldName": "data",
        "completionTitle": "Your answered questionnaire is ready",
        "completionMessage": "Downloading the DOCX, XLSX and JSON as a zip. Low-confidence answers are flagged for review inside."
      },
      "id": "c9999999-9999-4999-8999-999999999999",
      "name": "Deliver download",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [1460, 200]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [[{ "node": "POST /runs (answer)", "type": "main", "index": 0 }]]
    },
    "POST /runs (answer)": {
      "main": [[{ "node": "Render DOCX", "type": "main", "index": 0 }]]
    },
    "Render DOCX": {
      "main": [[{ "node": "Render XLSX", "type": "main", "index": 0 }]]
    },
    "Render XLSX": {
      "main": [[{ "node": "Render JSON", "type": "main", "index": 0 }]]
    },
    "Render JSON": {
      "main": [[{ "node": "Combine files", "type": "main", "index": 0 }]]
    },
    "Combine files": {
      "main": [[{ "node": "Zip deliverables", "type": "main", "index": 0 }]]
    },
    "Zip deliverables": {
      "main": [[{ "node": "Deliver download", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {}
}
